<div class="container">
  <div class="pagination">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" type="button" class="btn btn-outline-primary btn-nav">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages" type="button" class="btn btn-outline-primary btn-nav">Next</button>
    <input type="number" min="1" [max]="totalPages" [(ngModel)]="directPage" placeholder="Enter page number">
    <button (click)="goToDirectPage()" type="button" class="btn btn-primary btn-nav">Go</button>
  </div>
  <h1>Top Tracks</h1>
  <div *ngFor="let trackObj of tracks; let i = index">
    <div class="track-card">
      <div class="track-details">
        <h4 class="track-name">
          <a [href]="trackObj.track.url" target="_blank">{{ (currentPage - 1) * itemsPerPage + i + 1 }}. {{ trackObj.track.name }}</a>
        </h4>
        <p class="track-details">Artist: <a [href]="trackObj.track.artist.url" target="_blank">{{ trackObj.track.artist.name }}</a></p>
        <p class="track-details">Listeners: {{ trackObj.track.listeners }}</p>
      </div>
    </div>
    <div class="favorite-buttons">
      <button *ngIf="!isFavoriteTrack(trackObj.track)" (click)="addFavoriteTrack(trackObj.track)">Add to Favorites</button>
      <button *ngIf="isFavoriteTrack(trackObj.track)" (click)="removeFavoriteTrack(trackObj.track)">Remove from Favorites</button>
    </div>
  </div>
</div>
